* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

form {
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.form_label input[type="text"] {
    height: 25px;
    margin-top: 5px;
    padding: 0 5px;
    width: 100%;
}

.form_label label {
    font-size: 18px;
}

input:focus {
    outline: none;
}

.form_button {
    width: 100%;
}

.form_button button {
    width: 100%;
    background: black;
    font-size: 18px;
    color: white;
    outline: none;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.errors_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errors {
    padding: 5px 15px;
    border: 2px solid red;
    background: #ff8080;
    color: white;
    font-weight: 800;
    font-size: 18px;
    width: 30%;
    text-align: center;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px 10px;
}

.page_title {
    text-align: center;
    padding-top: 20px;
}
