table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px 10px;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: #00b800;
}

.wrapper h1 {
    text-align: center;
}

.link {
    margin: 10px 0;
    font-size: 18px;
    color: black;
}

form {
    width: 40%;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.form_label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.form_label input {
    width: 100%;
    height: 25px;
}

input:focus {
    outline: none;
}

.form_button {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.form_button button {
    background: black;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 60%;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.management {
    display: flex;
    height: max-content;
}

.management button, .img_management button {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.deactivate, .hide, .delete, .delete_image {
    background: #c10000;
    color: white;
    border: none;
}

.activate {
    background: #059500;
    color: white;
    border: none;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info_box {
    max-width: 340px;
    width: 100%;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
}

.edit_form {
    position: absolute!important;
    z-index: 10!important;
    background: white!important;
    top: 5% !important;
    left: 50%!important;
    transform: translateX(-50%) !important;
}

.hidden {
    display: none;
}
